*{
    margin:0;
    padding:0;
}

body{
    background-color: rgb(231, 231, 231);
    font-family: Arial;
    font-style: italic;
}
p{
    line-height: 2;
    font-size: 16px;
    margin: 20px;
}

Header{
    background-color: #007add;
    text-align:center;
    height:200px;
    padding:20px;
    
}  
.subtitle{
    text-align: center;
    margin:30px;
    font-weight: 300;
}
footer{
    text-align: center;
    font-weight: bold;
}
.menu{
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px black;
    margin-right: 20px;
}
.menu:hover{
    font-size: 18px;
}

ul.projects{
    margin-left: 50px;
}
ul.projects li{
    padding:5px;
    list-style: none;
    border-left: 5px solid orangered;
    margin: 10px;
}
ul.project li:hover{
    border-left: solid black;
    cursor: pointer;
}
footer{
    background-color: black;
    color: white;
    height: 200px;
}
main{
    height: 650px;
}
